# Testrapport

## Testrapport #1

**Datum:** 2025-09-23

**Modulversion:** 0.1

**Testmiljö:**

- Visual Studio Code: 1.103.2
- Node.js: 22.17.0
- OS: Linux x64 6.8.0-79-generic
- Distribution: Linux Mint, Cinnamon 22.1

---

## Testresultat

![alt text](./images/testrapport-1.png)

---

### Kommentarer

Den första testsviten är väldigt rough around the edges.
Samtliga tester passerar vad gäller datahantering i ett första skede.
Nästa steg i testväg är att skapa en testsvit som kontrollerar datahantering (och HTML-output) efter refaktorering.

## Övrigt

Totalt antal tester: xx
